@import "variablesGlobales";
@import "fuentes";
@import "operaciones";
@import "generales";
@import "servicios";
@import "contacto";

.dicen{
    grid-area: dicen;
}
.testimonio1{
    grid-area: testimonio1;
    width: 350px;
    height: 197px;
    
}
.testimonio2{
    grid-area: testimonio2;
    width: 350px;
    height: 197px;
    
}
.testimonio3{
    grid-area: testimonio3;
    width: 350px;
    height: 197px;
    
}
.testimonios{
    display: grid;
    grid-template-areas: 
    "dicen"
    "testimonio1" 
    "testimonio2"
    "testimonio3";
}
@media(min-width: 500px){
    .testimonio1 {
        height: 281px;
        width: 499px;
    }
    .testimonio2 {
        height: 281px;
        width: 499px;
    }
    .testimonio3 {
        height: 281px;
        width: 499px;
    }  
}

@media(min-width: 781px){

    .testimonio1 {
        height: 439px;
        width: 780px;
    }
    .testimonio2 {
        height: 210px;
        width: 390px;
    }
    .testimonio3 {
        height: 210px;
        width: 390px;
    }  

    .testimonios{
    display: grid;
    grid-template-areas: 
    "dicen dicen"
    "testimonio1 testimonio1" 
    "testimonio2 testimonio3";
    justify-items: center;
    }
}

@media(min-width: 1024px){

    .testimonio1 {
        height: 225px;
        width: 400px;
    }
    .testimonio2 {
        height: 225px;
        width: 400px;
    }
    .testimonio3 {
        height: 225px;
        width: 400px;
    }  

    .testimonios{
    display: grid;
    grid-template-areas: 
    "dicen dicen dicen"
    "testimonio1 testimonio2 testimonio3";
    justify-items: center;
    gap: 20px;
    }
}
.tituloPrecio{
    grid-area: tituloPrecio;
}
.precio1{
    grid-area: precio1;
    display: flex;
    flex-direction: column;
    background-color: rgb(82, 114, 121);
    gap: 20px;
    color: white;

}
.precio2{
    grid-area: precio2;
    display: flex;
    flex-direction: column;
    background-color: rgb(82, 114, 121);
    gap: 20px;
    color: whitesmoke;
}
.precio3{
    grid-area: precio3;
    display: flex;
    flex-direction: column;
    background-color: rgb(82, 114, 121);
    gap: 20px;
    color: whitesmoke
}
.precio{
    display: grid;
        grid-template-areas: 
        "tituloPrecio"
        "precio1" 
        "precio2" 
        "precio3";
        color: rgb(82, 114, 121);
        margin: 0% 5% 0% 5%;
    }

@media(min-width: 500px){
    .precio{
        display: grid;
        grid-template-areas: 
        "tituloPrecio"
        "precio1" 
        "precio2" 
        "precio3";
        margin: 0% 20% 0% 20%;
        justify-content: center;
        }
        .precio1{
            width: 499px;
            height: 324px;
        }
        .precio2{
            width: 499px;
            height: 324px;
        }
        .precio3{
            width: 499px;
            height: 324px;
        }
}
@media(min-width: 1187px){
    .precio{
        display: grid;
        grid-template-areas: 
        "tituloPrecio tituloPrecio tituloPrecio"
        "precio1 precio2 precio3";
        grid-template-columns: 33% 33% 33%;
        justify-items: center;
        margin: 0% 5% 0% 5%;
    }
    .precio1{
        width: 330px;
        height: 450px;
    }
    .precio2{
        width: 330px;
        height: 450px;
    }
    .precio3{
        width: 330px;
        height: 450px;
    }
}